Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(avatar): disallow profile image changes
  clients/web/src/components/account/profile/avatar.js
Due: prettier --write

Notes added by 'git notes add'
  4c8efb28b244f8c6132e63a77beeb26f6642cf4a
Due: none

feat(ads-sdk): attempt to integrate ads-sdk
  clients/web/package.json
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
Due: prettier --write

feat(ads-sdk): remove dependency from package.json for now
  clients/web/package.json
Due: none

feat(ads-sdk): update import paths for sdk bundling bugfix
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
Due: prettier --write

feat(ads-sdk): show medium rectangle ads for mobile
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: prettier --write

feat(ads-sdk): request real placements and remove hardcoded billboard
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
Due: prettier --write

feat(ads-sdk): rename ads-sdk -> majc and request mock placements for now
  clients/web/package.json
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
Due: eslint --fix, prettier --write

feat(majc): use https url for majc dep
  clients/web/package.json
Due: none

feat(ads-sdk): fix mock rectangle placement name
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
Due: eslint --fix, prettier --write

feat(majc): commit the lock file as well
  pnpm-lock.yaml
Due: none

feat(ads): client updates for ads sdk (#1424)
  clients/web/package.json
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: eslint --fix, prettier --write

feat(ads-sdk): attempt to integrate ads-sdk
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
Due: prettier --write

feat(majc): properly pass iab category info
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
Due: eslint --fix, prettier --write

feat(majc): add ads behind a feature flag
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
  clients/web/src/connectors/dev-tools/qa-modal.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: eslint --fix, prettier --write

fix(majc): update lock
  pnpm-lock.yaml
Due: none

feat(majc): add majc to collection story pages
  clients/web/src/containers/collections/stories-page/stories-page.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: prettier --write

chore(majc): param for mock placements
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
Due: eslint --fix, prettier --write

fix(majc): add iab data to stories page
  clients/web/src/common/api/queries/get-collection-by-slug.js
  clients/web/src/containers/collections/stories-page/stories-page.js
Due: prettier --write

chore(majc): normalize dependency v0.1.0
  clients/web/package.json
  pnpm-lock.yaml
Due: none

fix(majc): update to allow for safe release
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
  clients/web/src/containers/collections/stories-page/stories-page.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: eslint --fix, prettier --write

chore(majc): bump version
  clients/web/package.json
  pnpm-lock.yaml
Due: none

feat(dev-tools): add a premium toggle for ads testing
  clients/web/src/actions.js
  clients/web/src/connectors/dev-tools/premium-toggle.js
  clients/web/src/connectors/dev-tools/qa-modal.js
  clients/web/src/containers/account/account.state.js
Due: prettier --write

fix(majc): allow ramping and honor premium
  clients/web/src/containers/collections/stories-page/stories-page.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: prettier --write

Notes added by 'git notes add'
  b33b190a8f7276e1ef00888c12f1aa3b1987f8b1
Due: none

fix(flags): allow ads on logged out users
  clients/web/src/pages/_app.js
Due: prettier --write

Notes added by 'git notes add'
  d46784e48e3640b9b16a14e0586618a46096aa7f
Due: none

chore(freestar): remove freestar
  clients/web/src/components/programmatic-ad/freestar-ad-slot.js
  clients/web/src/containers/collections/stories-page/stories-page.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: prettier --write

fix(collections): add conditional to reverseIAB
  clients/web/src/common/api/queries/get-collection-by-slug.js
Due: prettier --write

Notes added by 'git notes add'
  93534c24558e30d038d3c2fd0c5f0d4dce0538c9
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.js)
