Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  b6768c9f26376ce33c47196edfa84c7680c33cb3
Due: none

fix(majc): bump to 0.1.7
  clients/web/package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  704f289a3c82ddc0676258339a882f20ff54c3de
Due: none

feat(third party): remove one trust and GA
  clients/web/src/components/global-footer/global-footer.js
  clients/web/src/connectors/third-party/one-trust.state.js
  clients/web/src/connectors/third-party/third-party-init.js
  clients/web/src/pages/_app.js
  clients/web/src/pages/_document.js
  clients/web/src/store.js
  config/eslint-config/common.js
  ui/components/__snapshots__/nav-footer-cookie-preference.ts.snap
  ui/components/__snapshots__/nav-footer.ts.snap
  ui/components/nav-footer-cookie-preference/component.story.tsx
  ui/components/nav-footer-cookie-preference/component.test.tsx
  ui/components/nav-footer-cookie-preference/index.tsx
  ui/components/nav-footer/index.tsx
Due: eslint --fix, prettier --write

fix(majc): remove ads experiment
  clients/web/src/containers/collections/stories-page/stories-page.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
  clients/web/src/pages/_app.js
Due: prettier --write

Notes added by 'git notes add'
  aacb0a45433a99b9297b83ab4af284d165d4ad73
Due: none

fix(banner): update goodbye to link to kb
  clients/web/src/components/banner/goodbye.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  67f3ae7ee37597233d346e774cbc6aa47b3a7c5c
Due: none

feat(home): clean up shutdown assets
  .github/workflows/clients.yml
  clients/web/public/locales/en/goodbye.json
  clients/web/src/archive/pages/discover/[slug].js
  clients/web/src/archive/pages/discover/index.js
  clients/web/src/archive/pages/discover/item/[slug].js
  clients/web/src/connectors/global-nav/global-nav.js
  clients/web/src/containers/farewell/farewell.js
Due: prettier --write

Notes added by 'git notes add'
  c76e4e1865269a1f3c3ea0c4bb3b5dfd320fd3f3
Due: none

fix(farwell): remove press section
  clients/web/src/containers/farewell/farewell.js
  clients/web/src/containers/farewell/style.module.css
Due: prettier --write

fix(collections): remove defunct collections
  clients/web/src/pages/collections/[slug].js
  clients/web/src/pages/collections/index.js
  clients/web/src/pages/collections/page/[pagenumber].js
Due: prettier --write

Notes added by 'git notes add'
  35621d7c681e131e60ca5473eaab43793a92f7ef
Due: none

fix(react): security update - dependencies / node
  .nvmrc
  Dockerfile
  clients/extension/package.json
  clients/pocket/package.json
  clients/pocket/tsconfig.json
  clients/web/next-env.d.ts
  clients/web/package.json
  clients/web/src/containers/read/reader.js
  common/localization/package.json
  common/state/package.json
  common/types/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: eslint --fix, prettier --write

chore(deps): clean up unused
  package.json
  pnpm-lock.yaml
Due: none

chore(types): update node types
  clients/extension/package.json
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: none

chore(pocket): remove rsc version (defunct now)
  .github/workflows/clients.yml
  clients/pocket/.env.development
  clients/pocket/.env.production
  clients/pocket/.gitignore
  clients/pocket/.lintstagedrc.js
  clients/pocket/README.md
  clients/pocket/app/[locale]/[...rest]/page.tsx
  clients/pocket/app/[locale]/about/page.tsx
  clients/pocket/app/[locale]/collections/page.tsx
  clients/pocket/app/[locale]/layout.tsx
  clients/pocket/app/[locale]/page.tsx
  clients/pocket/app/[locale]/saves/page.tsx
  clients/pocket/app/[locale]/settings/page.tsx
  clients/pocket/app/favicon.ico
  clients/pocket/app/global-error.tsx
  clients/pocket/app/waypoint/route.tsx
  clients/pocket/eslint.config.mjs
  clients/pocket/middleware.ts
  clients/pocket/next.config.mjs
  clients/pocket/package.json
  clients/pocket/postcss.config.js
  clients/pocket/public/pocket-logo.svg
  clients/pocket/tsconfig.json
  i18next-parser.config.js
  infrastructure/pocket/.nvmrc
  infrastructure/pocket/.terraform-version
  infrastructure/pocket/cdktf.json
  infrastructure/pocket/eslint.config.mjs
  infrastructure/pocket/package.json
  infrastructure/pocket/src/config/index.ts
  infrastructure/pocket/src/main.ts
  infrastructure/pocket/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(cleanup): remove lint from web
  .github/workflows/pull-request.yml
  clients/web/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(docker): clean up casing
  Dockerfile
Due: none

Notes added by 'git notes add'
  96f11762f0b9a9111ecde76da13783176b74ab33
Due: none

chore(deps): update react types
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  config/jest-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
Due: none

fix(ads): remove MAJC
  clients/web/package.json
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
  pnpm-lock.yaml
  ui/styles/legacy/global.css
  ui/styles/pocket/global.css
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.js)
