Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Notes added by 'git notes add'
  f35863316b7bdabd76e914bfc44b9cccf2dadebf
Due: none

fix(login): make url an env variable
  clients/pocket/.env.development
  clients/pocket/.env.production
  common/constants/index.ts
  ui/components/nav-top-account-auth/index.tsx
Due: eslint --fix, prettier --write

build(husky): move to new required location
  .config/husky/commit-msg
  .config/husky/pre-commit
  .config/husky/pre-push
Due: none

Notes added by 'git notes add'
  6856c349977c5649be83bf44b36ed16d042fef98
Due: none

fix(env): make log in url consumable in prod
  clients/pocket/.env.production
Due: none

Notes added by 'git notes add'
  bdc3e7fe301b839340a232e89f58d0f5381ca436
Due: none

build(husky): move back for now until updates
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(storybook): update storybook builds
  common/state/user-info/hydrate.tsx
  common/state/user-info/index.ts
  config/storybook-config/.storybook/main.ts
  config/storybook-config/.storybook/preview.tsx
  ui/components/__snapshots__/nav-top-account-auth.ts.snap
  ui/components/nav-footer-theme/actions.ts
  ui/components/nav-top-account-profile/component.story.tsx
  ui/components/nav-top-account/component.story.tsx
Due: eslint --fix, prettier --write

fix(test): set client side env in test
  config/jest-config/setup/load-env.js
  ui/components/__snapshots__/nav-top-account-auth.ts.snap
  ui/components/jest.config.ts
Due: eslint --fix, prettier --write

fix(tests): update async renders so they work
  ui/components/__snapshots__/item-short.ts.snap
  ui/components/__snapshots__/item-sound.ts.snap
  ui/components/__snapshots__/item-video.ts.snap
  ui/components/__snapshots__/layout-main.ts.snap
  ui/components/__snapshots__/nav-top-account-auth.ts.snap
  ui/components/__snapshots__/nav-top-account-profile.ts.snap
  ui/components/__snapshots__/nav-top-account.ts.snap
  ui/components/__snapshots__/nav-top.ts.snap
  ui/components/item-short/component.test.tsx
  ui/components/item-sound/component.test.tsx
  ui/components/item-video/component.test.tsx
  ui/components/layout-main/component.test.tsx
  ui/components/nav-top-account-auth/component.test.tsx
  ui/components/nav-top-account-profile/component.test.tsx
  ui/components/nav-top-account/component.test.tsx
  ui/components/nav-top/component.test.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  0d5e59c965d4d03b9f80b50530656b52d4e27554
Due: none

fix(styles): pin emotion version
  clients/pocket/package.json
  clients/web/package.json
  config/jest-config/package.json
  package.json
  pnpm-lock.yaml
  ui/icons/package.json
Due: none

Notes added by 'git notes add'
  550ddaed475a47c0d9a9674e4a8cd379f6b51d7f
Due: none

build(pnpm): update to latest
  Dockerfile
  clients/pocket/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
Due: none

fix(topics): updating topic query to use corpus item
  clients/web/src/common/api/derivers/discover/discover.spec.js
  clients/web/src/common/api/derivers/item.js
  clients/web/src/common/api/queries/get-discover.js
  clients/web/src/common/api/queries/get-slate.js
  clients/web/src/common/api/queries/get-topic-lineup.js
  clients/web/src/pages/discover/[slug].js
  clients/web/src/pages/discover/index.js
Due: prettier --write

Notes added by 'git notes add'
  8e6430a8b4a02e21f093f3d00edd2b339ef90c34
Due: none

feat(search): add breadcrumb
  clients/web/src/components/headers/search-discovery-header.js
  clients/web/src/components/item/item-styles.js
  clients/web/src/containers/search/breadcrumb.js
  clients/web/src/containers/search/index.js
Due: prettier --write

fix(search): clean up and integrate saves search
  clients/web/src/actions.js
  clients/web/src/components/global-nav/tools/search/recent-searches.js
  clients/web/src/components/headers/search-discovery-header.js
  clients/web/src/connectors/global-nav/global-nav-search-discovery.js
  clients/web/src/connectors/global-nav/global-nav-search.js
  clients/web/src/connectors/global-nav/global-nav.js
  clients/web/src/connectors/items/items-display.state.js
  clients/web/src/containers/saves/saved-items/saved-items.state.js
  clients/web/src/containers/search/breadcrumb.js
  clients/web/src/containers/search/corpus/index.js
  clients/web/src/containers/search/corpus/list-of-items.js
  clients/web/src/containers/search/corpus/load-more.js
  clients/web/src/containers/search/corpus/search.corpus.state.js
  clients/web/src/containers/search/header.js
  clients/web/src/containers/search/index.js
  clients/web/src/containers/search/saves/index.js
  clients/web/src/containers/search/saves/list-of-items.js
  clients/web/src/containers/search/saves/load-more.js
  clients/web/src/containers/search/saves/search.saves.state.js
  clients/web/src/pages/search/index.ts
  clients/web/src/store.js
Due: eslint --fix, prettier --write

fix(style): stop page from jumping around
  ui/styles/legacy/browser-resets.css
  ui/styles/legacy/global.css
Due: none

fix(search): reset search on new search
  clients/web/src/containers/search/search.state.js
Due: prettier --write

fix(search): clamp cards
  clients/web/src/containers/search/list-of-items.js
Due: prettier --write

feat(search): add corpus search to top nav
  clients/web/src/components/global-nav/mobile/global-nav-mobile-menu.js
  clients/web/src/components/headers/search-discovery-header.js
  clients/web/src/components/logo/logo.js
  clients/web/src/connectors/app/app.state.js
  clients/web/src/connectors/global-nav/global-nav-search-discovery.js
  clients/web/src/connectors/global-nav/global-nav.js
  clients/web/src/connectors/snowplow/actions/global-nav.js
  clients/web/src/containers/home/home.js
  clients/web/src/containers/search/index.js
Due: prettier --write

fix(search): add flag for global search
  clients/web/src/common/utilities/braze/feature-flags.js
  clients/web/src/connectors/global-nav/global-nav-search.js
  clients/web/src/connectors/global-nav/global-nav.js
  clients/web/src/containers/home/content.js
Due: prettier --write

fix(search): variable for recent search
  clients/web/src/components/global-nav/tools/search/global-nav-search.js
  clients/web/src/components/global-nav/tools/search/recent-searches.js
  clients/web/src/connectors/global-nav/global-nav-search-discovery.js
Due: prettier --write

chore(search): cleanup unused
  clients/web/src/containers/search/corpus/search.corpus.state.js
  clients/web/src/containers/search/saves/index.js
  clients/web/src/containers/search/saves/search.saves.state.js
  clients/web/src/store.js
Due: prettier --write

fix(search): hydration error
  clients/web/src/containers/search/corpus/search.corpus.state.js
Due: prettier --write

fix(search): user better name for braze flag
  clients/web/src/connectors/global-nav/global-nav.js
Due: prettier --write

fix(theme): don’t clobber body class
  ui/components/nav-top-account-profile/index.tsx
  ui/components/setting-theme/index.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6b877231c74eeaa912391f954df5f4a5fc87c51d
Due: none

Notes added by 'git notes add'
  52915c1628da2a7457fb7251650209c527ca69b9
Due: none

feat(search): adding filter for saves search
  clients/web/src/components/list-filter-menu/search-filter-menu.js
  clients/web/src/containers/search/header.js
  clients/web/src/containers/search/index.js
  clients/web/src/containers/search/saves/index.js
  clients/web/src/pages/search/index.ts
Due: eslint --fix, prettier --write

feat(search): add sort order for saves
  clients/web/src/containers/search/header.js
  clients/web/src/containers/search/saves/index.js
  clients/web/src/pages/search/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7b4cd5aec4dd71591fa5a1a4cf59fd2aad97a3af
Due: none

feat(documents): add ios oss document
  clients/web/public/static/docs/ios-oss.md
  clients/web/src/pages/documents/ios-open-source/index.tsx
Due: eslint --fix, prettier --write

feat(ios): open source page
  clients/web/src/pages/ios-open-source/index.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  065566c3238f83d3dbc14022070a326e4eaba39f
Due: none

fix(search): show saves when searching from saves
  clients/web/src/connectors/global-nav/global-nav-search-discovery.js
  clients/web/src/connectors/global-nav/global-nav-search.js
  clients/web/src/connectors/global-nav/global-nav.js
Due: prettier --write

Notes added by 'git notes add'
  f7786b4f29c3ad1069728de8b86d71183c97c196
Due: none

chore(dependencies): safe dev
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/constants/package.json
  common/state/package.json
  common/types/package.json
  common/utilities/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
Due: none

chore(dependencies): update safe prod
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/state/package.json
  common/types/package.json
  common/utilities/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.js)
