Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.tsx": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "*.js": ["prettier --write"]
}

build(icons): build on preinstall
  pnpm-lock.yaml
  ui/icons/package.json
Due: none

feat(notes): add note creation
  clients/extension/action/app.tsx
  clients/extension/actions.ts
  clients/extension/background/api/add-note.ts
  clients/extension/background/api/fragments/preview.ts
  clients/extension/background/api/fragments/saved-item.ts
  clients/extension/background/api/upsert.ts
  clients/extension/background/index.ts
  clients/extension/components/action-container/component.story.tsx
  clients/extension/components/action-container/index.tsx
  clients/extension/components/notes-add/style.module.css
  clients/extension/components/notes-footer/index.tsx
  clients/extension/components/notes-list/component.story.tsx
  clients/extension/components/notes-list/index.tsx
  clients/extension/components/notes-list/style.module.css
  clients/extension/components/notes/index.tsx
  clients/extension/components/saved-tags/component.story.tsx
  clients/extension/components/saved-tags/index.tsx
  clients/extension/components/saved/index.tsx
  clients/extension/types/item.ts
  clients/extension/types/message.ts
  clients/extension/types/note.ts
  common/mock-data/graph-response/note-response.json
  common/mock-data/graph-response/upsert-response.json
Due: eslint --fix, prettier --write

fix(extension): update icons to use common repo ui
  clients/extension/components/action-header/index.tsx
  clients/extension/components/icons/AddNoteIcon.tsx
  clients/extension/components/icons/ArrowLeftIcon.tsx
  clients/extension/components/icons/ChevronLeftIcon.tsx
  clients/extension/components/icons/DeleteIcon.tsx
  clients/extension/components/icons/NotesIcon.tsx
  clients/extension/components/icons/OverflowMenuIcon.tsx
  clients/extension/components/icons/SaveFilledIcon.tsx
  clients/extension/components/icons/SaveIcon.tsx
  clients/extension/components/icons/SnippetsIcon.tsx
  clients/extension/components/notes-footer/index.tsx
  clients/extension/components/saved-footer/index.tsx
  clients/extension/components/waypoint/index.tsx
  clients/extension/extension.config.js
  clients/extension/package.json
  pnpm-lock.yaml
  ui/icons/.gitignore
  ui/icons/package.json
  ui/icons/svgs/add-note.svg
Due: eslint --fix, prettier --write

feat(extension): add notes error messaging
  clients/extension/components/action-container/index.tsx
  clients/extension/components/notes-add/component.story.tsx
  clients/extension/components/notes-add/index.tsx
  clients/extension/components/notes-list/index.tsx
  clients/extension/components/notes-list/style.module.css
  clients/extension/components/notes/index.tsx
Due: eslint --fix, prettier --write

feat(extension): add loader for note adding
  clients/extension/action/app.tsx
  clients/extension/background/index.ts
  clients/extension/components/action-container/index.tsx
  clients/extension/components/action-loader/component.story.tsx
  clients/extension/components/action-loader/index.tsx
  clients/extension/components/action-loader/style.module.css
  clients/extension/components/notes-add/index.tsx
  clients/extension/components/notes-footer/index.tsx
  clients/extension/components/notes/index.tsx
Due: eslint --fix, prettier --write

feat(extension): ui for delete confirm
  clients/extension/components/notes-list/index.tsx
  clients/extension/components/notes-list/style.module.css
  clients/extension/public/styles/global.css
Due: eslint --fix, prettier --write

feat(extension): add note delete logic
  clients/extension/actions.ts
  clients/extension/background/api/remove-note.ts
  clients/extension/background/index.ts
  clients/extension/components/notes-list/index.tsx
  clients/extension/components/notes/index.tsx
  clients/extension/types/message.ts
Due: eslint --fix, prettier --write

feat(extension): note management / form
  clients/extension/action/app.tsx
  clients/extension/background/index.ts
  clients/extension/components/action-container/index.tsx
  clients/extension/components/notes-add/index.tsx
  clients/extension/components/notes-add/style.module.css
  clients/extension/components/notes-list/index.tsx
  clients/extension/components/notes-list/style.module.css
  clients/extension/components/notes/index.tsx
  clients/extension/public/styles/global.css
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a39dd8cf8b97affe348374f1abc7ba25af08b711
Due: none

chore(dependencies): update to lates 02-04-24
  clients/extension/package.json
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  common/types/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: none

feat(iab): reverse iab lookup from curration source
  clients/web/src/common/api/queries/get-syndicated-article.js
  clients/web/src/common/iab.js
  clients/web/src/connectors/placards/placards.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  3fa7824bc164429a027a1c9b45d9f62710e0b395
Due: none

chore(iab): reverse map check
  clients/web/src/common/api/queries/get-syndicated-article.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: prettier --write

feat(ads-sdk): attempt to integrate ads-sdk
  clients/web/package.json
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
Due: prettier --write

feat(ads-sdk): update import paths for sdk bundling bugfix
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
Due: prettier --write

feat(ads-sdk): remove dependency from package.json for now
  clients/web/package.json
Due: none

feat(ads-sdk): request real placements and remove hardcoded billboard
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
Due: prettier --write

feat(ads-sdk): show medium rectangle ads for mobile
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: prettier --write

chore(deps): add @mozilla-services/ads-sdk ssh
  clients/web/package.json
Due: none

fix(ad-slot): refactor to typescript
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
Due: eslint --fix, prettier --write

fix(ads): simplify usage
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: prettier --write

chore(deps): fix lockfile by ignoring scripts
  pnpm-lock.yaml
Due: none

fix(annotations): merge overlap collisions
  clients/web/src/components/annotations/utilities.js
  clients/web/src/components/reader/sidebar.js
Due: prettier --write

fix(dependencies): update security exploit
  clients/pocket/package.json
  clients/web/package.json
  common/state/package.json
  common/types/package.json
  config/jest-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/styles/legacy/global.css
  ui/styles/pocket/global.css
Due: none

Notes added by 'git notes add'
  ec9e41183de871a365dfcbc4fc5e391b36547b1c
Due: none

Notes added by 'git notes add'
  3af5f8b2e34e8f2dc8fb60a7724f9fd98203860f
Due: none

fix(search): remove corpus search
  clients/web/src/components/list-filter-menu/search-filter-menu.js
  clients/web/src/containers/search/header.js
  clients/web/src/containers/search/index.js
  clients/web/src/pages/search/index.ts
Due: eslint --fix, prettier --write

fix(search): only approved markets
  clients/web/src/containers/search/corpus/index.js
  clients/web/src/containers/search/header.js
  clients/web/src/containers/search/index.js
  clients/web/src/containers/search/saves/index.js
  clients/web/src/pages/search/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  358c8fc96d9914a985ae7665f0212453ce4cb7f4
Due: none

feat(ads): client updates for ads sdk (#1424)
  clients/web/package.json
  clients/web/src/components/content-ads/content-ads.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.js
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: eslint --fix, prettier --write

feat(ads-sdk): rename ads-sdk -> majc and request mock placements for now
  clients/web/package.json
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
Due: eslint --fix, prettier --write

feat(ads-sdk): fix mock rectangle placement name
  clients/web/src/components/programmatic-ad/mozads-ad-slot.tsx
Due: eslint --fix, prettier --write

chore(dependencies): add majc
  clients/web/package.json
  pnpm-lock.yaml
Due: none
