Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(syndicated): simplify syndicated page
  clients/web/src/components/content-actions/article-actions.js
  clients/web/src/components/content-headline/pocket-worthy.js
  clients/web/src/components/pocket-recs/pocket-recs.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: prettier --write

feat(nav): changes to coms
  clients/web/src/components/global-footer/global-footer.js
  clients/web/src/components/global-nav/account/global-nav-account.js
  clients/web/src/components/global-nav/global-nav.js
Due: prettier --write

feat(banner): add goodbye banner
  clients/web/public/locales/en/shutdown.json
  clients/web/src/components/banner/goodbye.tsx
  clients/web/src/connectors/global-nav/global-nav-banner.js
  clients/web/src/containers/_layouts/main.js
  clients/web/src/containers/_layouts/with-sidebar.js
  clients/web/src/containers/goodbye/goodbye.js
  clients/web/src/containers/goodbye/style.module.css
  clients/web/src/pages/goodbye/index.js
Due: eslint --fix, prettier --write

feat(nav): simplify nav
  clients/web/src/components/global-footer/global-footer.js
  clients/web/src/components/global-nav/account/global-nav-account.js
Due: prettier --write

fix(home): remove CTA and adjust spacing for banner
  clients/web/src/containers/home/home.js
  clients/web/src/containers/home/style.module.css
Due: prettier --write

feat(goodbye): adding farwell page
  clients/web/src/components/banner/goodbye.tsx
  clients/web/src/components/global-nav/account/global-nav-account.spec.js
  clients/web/src/containers/farewell/farewell.js
  clients/web/src/containers/farewell/style.module.css
  clients/web/src/containers/goodbye/goodbye.js
  clients/web/src/containers/goodbye/style.module.css
  clients/web/src/containers/syndicated-article/syndicated-article.js
  clients/web/src/pages/farewell/index.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  11f7f8d42bfc05b5c948c9bc5310b81160fb8ba4
Due: none

feat(farewell): add parsed translations
  clients/web/public/locales/en/goodbye.json
Due: none

Notes added by 'git notes add'
  f906eb128b5cd7c64a71e25bf01d3ba264689e32
Due: none

fix(farwell): banner on all w/ conditional link
  clients/web/src/components/banner/goodbye.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e6e8d5ba153c56e7fa199d8c7b62ea8bd7bc6e5e
Due: none

fix(banner): shorten copy to reflect farwell page
  clients/web/public/locales/en/shutdown.json
  clients/web/src/components/banner/goodbye.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f81e010ebecdc26e190fe20dfa919420d477b4f8
Due: none

fix(nav): add export item
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  clients/web/src/connectors/global-nav/global-nav.js
  ui/icons/svgs/export.svg
Due: prettier --write

Notes added by 'git notes add'
  a4f289ca6bb549a7e2bce8ca0a57624f5a4a87ea
Due: none

feat(shutdown): update nav and copy
  clients/web/public/locales/en/shutdown.json
  clients/web/src/components/global-nav/account/global-nav-account.js
  clients/web/src/connectors/global-nav/global-nav.js
Due: prettier --write

feat(shutdown): add major redirects
  clients/web/next.config.js
  clients/web/src/components/banner/goodbye.tsx
  clients/web/src/components/global-footer/global-footer.js
  clients/web/src/components/global-nav/account/global-nav-account.spec.js
  clients/web/src/pages/home/index.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  b598c06db1aad2c1e2bdcbfb05a0effed3b107f0
Due: none

fix(shutdown): move export to the right
  clients/web/src/components/global-nav/global-nav.js
Due: prettier --write

Notes added by 'git notes add'
  bde5649dc3a71c2057fc7e3e1ca330c798c86b87
Due: none

fix(privacy): forced build/deploy test
  clients/web/src/pages/privacy/index.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  72726d9413078d51a1607c855ca9c6a84793dcdc
Due: none

fix(hydration): squash hydration warning in footer
  clients/web/src/components/global-footer/global-footer.js
Due: prettier --write

feat(majc): bump to 0.1.5
  clients/web/package.json
  pnpm-lock.yaml
Due: none

feat(majc): add provider
  clients/web/src/pages/_app.js
Due: prettier --write

Notes added by 'git notes add'
  650c697c9dd1d96be260e84de243dc483997ad7c
Due: none

chore(update): react to 19.1.1
  clients/extension/package.json
  clients/pocket/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: none

chore(dependencies): update react to 19.1.0
  clients/extension/package.json
  clients/pocket/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: none

Notes added by 'git notes add'
  ec8c07dcbb2ad5bebb788825de80e32cc3f2b631
Due: none

chore(cleanup): remove opt-in-monster
  clients/web/src/common/utilities/third-party/opt-in-monster.js
  clients/web/src/connectors/third-party/third-party-init.js
Due: prettier --write

fix(majc): update to 0.1.16
  clients/web/package.json
  clients/web/src/pages/_app.js
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  1c8c9b2f85c324f9173c3162a5dafc7037147c2f
Due: none

fix(legal): update legal docs (privacy)
  config/document-config/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.js)
