Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(schema): generate latest schema
  common/types/pocket/index.d.ts
  common/types/schema.graphql
Due: eslint --fix, prettier --write

fix(marked): update to new api shape
  clients/web/src/common/utilities/marked-formatters/index.js
  clients/web/src/pages/privacy/index.tsx
Due: eslint --fix, prettier --write

fix(search): make sure router pushes to `/`
  clients/web/src/connectors/global-nav/global-nav-search.js
Due: prettier --write

Notes added by 'git notes add'
  f7d85c8deec2db7a9030b576aa6429dc1f8059fa
Due: none

Notes added by 'git notes add'
  3ece34af6fc2bccf4cfe7f0717b99abef34e10f2
Due: none

fix(search): remove corpus count from header
  clients/web/src/components/list-filter-menu/search-filter-menu.js
  clients/web/src/containers/search/header.js
Due: prettier --write

Notes added by 'git notes add'
  5ae59abef7e3980b2ae1ec320b70c96bb6b8a21e
Due: none

fix(search): switch to item preview
  clients/web/src/common/api/derivers/item.js
  clients/web/src/common/api/fragments/fragment.preview.ts
  clients/web/src/common/api/queries/get-corpus-search.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  daf98c68227a78ac0c93169bc25e80a9392bd652
Due: none

build(docker): updating build system to latest nextjs standards
  .dockerignore
  .github/workflows/build-app.yml
  .nvmrc
  Dockerfile
  clients/pocket/next.config.mjs
  clients/pocket/package.json
  clients/web/next.config.js
  clients/web/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  ui/icons/package.json
Due: prettier --write

fix(ci): separating pocket and web client
  .github/workflows/build-app.yml
  .github/workflows/clients.yml
  .github/workflows/deployment.yml
  .github/workflows/pull-request.yml
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

fix(collections): update pagination pattern
  clients/web/src/components/pagination/pagination.tsx
  clients/web/src/containers/collections/collections.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  78d81ae0dda019f6ed5e46cf0b66680eb7c0c414
Due: none

chore(dependencies): update to latest
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/state/package.json
  common/types/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
Due: none

build(semantic release): remove issue commenting
  package.json
Due: none

fix(pagination): clarifying comment
  clients/web/src/components/pagination/pagination.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  a53857e9437f0bd30d9448efb3428bb5459648b8
Due: none

fix(s3): adding in s3 uploading
  .github/actions/build-client/action.yml
  .github/actions/containerize/action.yml
  .github/workflows/build-app.yml
  .github/workflows/clients.yml
  Dockerfile
  infrastructure/pocket/src/config/index.ts
  infrastructure/pocket/src/main.ts
  infrastructure/web/src/config/index.ts
  infrastructure/web/src/main.ts
Due: eslint --fix, prettier --write

build(deps): ensuring that tests build dependencies
  package.json
  pnpm-lock.yaml
  turbo.json
  ui/icons/package.json
Due: none

fix(s3): updating s3 paths
  .github/workflows/build-app.yml
  .github/workflows/clients.yml
  Dockerfile
Due: none

fix(capacity): lowering capacity to real use levels
  config/eslint-config/infrastructure.js
  infrastructure/pocket/.eslintrc.json
  infrastructure/pocket/package.json
  infrastructure/pocket/src/main.ts
  infrastructure/pocket/tsconfig.json
  infrastructure/web/.eslintrc.json
  infrastructure/web/package.json
  infrastructure/web/src/main.ts
  infrastructure/web/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(manifest): updating manifest path
  Dockerfile
Due: none

fix(pocket-client): updating pocket client to use assets
  Dockerfile
  clients/pocket/next.config.mjs
  infrastructure/pocket/src/main.ts
  infrastructure/web/src/main.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(syndicated article): upgrade to graph upsert
  clients/web/src/containers/syndicated-article/syndicated-article.js
  clients/web/src/containers/syndicated-article/syndicated-article.state.js
Due: prettier --write

Notes added by 'git notes add'
  debce11efd40794c394f41a8739c49648ec0ba44
Due: none

fix(permissions): add issues permission
  .github/workflows/build-app.yml
Due: none

fix(permissions): add correct permissions to clients vs build
  .github/workflows/build-app.yml
  .github/workflows/clients.yml
Due: none

Notes added by 'git notes add'
  199f8458afe64c245f4a0b8c5a638b0aad6810b0
Due: none

fix(legal): update to latest
  clients/web/package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  f850920e1023234ad09ab55ad22641424774f76f
Due: none

feat(documents): pull documents during build
  .gitignore
  clients/web/package.json
  clients/web/src/pages/privacy/index.tsx
  clients/web/src/pages/tos/index.tsx
  config/document-config/index.js
  config/document-config/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(documents): add document config to dependencies
  clients/web/package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  365fb1a6decd4dfd1bac227b2105e5ca7fc0baea
Due: none

fix(reader): support video type of HTML5
  clients/web/src/components/video/video.js
Due: prettier --write

Notes added by 'git notes add'
  b14c545d1ac6b8abb9f2ebcc4c25fb4d608b365e
Due: none

feat(item): allow for display style
  clients/web/src/components/item/item.js
Due: prettier --write

chore(cleanup): remove unused layout
  clients/web/src/components/items-layout/list-offset.js
  clients/web/src/components/items-layout/lockup.story.js
  clients/web/src/components/items-layout/offset.story.js
Due: prettier --write

fix(search): use corpus specific deriver
  clients/web/src/common/api/derivers/preview.ts
  clients/web/src/common/api/queries/get-corpus-search.js
Due: eslint --fix, prettier --write

fix(item): add display style
  clients/web/src/components/item/item-styles.js
Due: prettier --write

chore(sync): running syncpack
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  ui/icons/package.json
Due: none

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.js)
