Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.tsx": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Notes added by 'git notes add'
  63f711bbf39bb36ea5b787516a6531d2ace41a4a
Due: none

feat(moz placards): adding mocked out implementation
  clients/web/package.json
  clients/web/src/actions.js
  clients/web/src/connectors/items/mutation-import.state.js
  clients/web/src/connectors/placards/placard.state.js
  clients/web/src/connectors/placards/placards.js
  clients/web/src/connectors/placards/style.module.css
  clients/web/src/containers/syndicated-article/syndicated-article.js
  clients/web/src/pages/api/import.ts
  clients/web/src/pages/api/placards.ts
  clients/web/src/store.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  0c71db92b253c80615384836b4418731c6cd4d4a
Due: none

fix(nav): constant search enrolled
  clients/web/src/connectors/global-nav/global-nav.js
Due: prettier --write

Notes added by 'git notes add'
  92775c713e6b8a33ba6987cb4532fdf080d39658
Due: none

fix(eslint): update eslint for state
  common/state/.eslintrc.json
  common/state/eslint.config.mjs
  common/state/tsconfig.json
Due: none

build(eslint): update configs for other packages
  common/localization/.eslintrc.json
  common/localization/eslint.config.mjs
  common/localization/locale-inject.mjs
  common/localization/package.json
  common/localization/src/index.react-server.ts
  common/localization/tsconfig.json
  common/state/page-saves/server.ts
  common/state/user-info/index.ts
  common/state/user-info/server.ts
  common/state/user-info/session.ts
  common/types/.eslintrc.json
  common/types/eslint.config.mjs
  common/types/tsconfig.json
  common/utilities/build-classnames/build-classnames.test.ts
  common/utilities/build-classnames/index.ts
  common/utilities/error-handler/index.ts
  common/utilities/eslint.config.mjs
  common/utilities/object-array/index.ts
  common/utilities/package.json
  common/utilities/pocket-request/index.ts
  common/utilities/tsconfig.json
  infrastructure/pocket/.eslintrc.json
  infrastructure/pocket/eslint.config.mjs
  infrastructure/pocket/package.json
  infrastructure/pocket/tsconfig.json
  infrastructure/web/.eslintrc.json
  infrastructure/web/eslint.config.mjs
  infrastructure/web/package.json
  infrastructure/web/tsconfig.json
  ui/components/.eslintrc.json
  ui/components/eslint.config.mjs
  ui/components/package.json
  ui/components/tsconfig.json
Due: eslint --fix, prettier --write

fix(lintstaged): update to get back to eslint on commit
  clients/pocket/.lintstagedrc.js
  clients/pocket/eslint.config.mjs
  clients/pocket/package.json
  clients/web/.lintstagedrc.js
  clients/web/eslint.config.mjs
  clients/web/package.json
  package.json
  turbo.json
  ui/components/.lintstagedrc.js
  ui/components/eslint.config.mjs
  ui/components/package.json
Due: prettier --write

fix(lintstaged): adjust configs
  .lintstagedrc.js
  clients/pocket/.lintstagedrc.js
  clients/web/.lintstagedrc.js
  ui/components/.lintstagedrc.js
Due: prettier --write

fix(lint): type errors
  infrastructure/pocket/tsconfig.json
  infrastructure/web/tsconfig.json
  ui/components/error-not-found/index.tsx
Due: eslint --fix, prettier --write

fix(item): item type in future Pocket
  clients/pocket/package.json
  common/state/page-home/server.ts
  common/types/client/item.ts
  config/document-config/index.js
  ui/components/item-article/index.tsx
Due: eslint --fix, prettier --write

fix(ui): update failing tests and type errors
  common/mock-data/in-state/shortsById.json
  common/types/client/item.ts
  common/utilities/object-array/index.ts
  common/utilities/object-array/object-array.test.ts
  ui/components/__snapshots__/item-short.ts.snap
Due: eslint --fix, prettier --write

fix(eslint): add icon dependency to ensure compile
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
  turbo.json
  ui/components/item-sound/index.tsx
  ui/components/item-video/index.tsx
  ui/icons/package.json
  ui/styles/legacy/global.css
  ui/styles/pocket/global.css
Due: eslint --fix, prettier --write

fix(next-env.d.ts): add types file for linting
  .gitignore
  clients/web/next-env.d.ts
  next-env.d.ts
  ui/components/next-env.d.ts
Due: eslint --fix, prettier --write

fix(placards): use test endpoint instead of mock
  clients/web/src/pages/api/placards.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7bcc72946ae77ff602d5dc2c80b804fe0c9a21af
Due: none

Notes added by 'git notes add'
  ee0f839ac2d6945b1f95b0a39ec4379e3dc73b83
Due: none

feat(search): switch to advanced search
  clients/web/src/common/api/queries/get-saved-items-search.js
Due: prettier --write

Notes added by 'git notes add'
  71301094fc09571f989e09fdb414b41f64b5c089
Due: none

feat(extension): scaffold of browser extension
  clients/extension/.gitignore
  clients/extension/README.md
  clients/extension/action/app.tsx
  clients/extension/action/components/actions/index.tsx
  clients/extension/action/components/actions/style.module.css
  clients/extension/action/components/header/index.tsx
  clients/extension/action/components/header/style.module.css
  clients/extension/action/components/icons/icon-notes.tsx
  clients/extension/action/components/icons/icon-save.tsx
  clients/extension/action/components/icons/icon-snippets.tsx
  clients/extension/action/global.css
  clients/extension/action/index.html
  clients/extension/action/script.tsx
  clients/extension/assets/fonts/fonts.css
  clients/extension/assets/images/action-icon.png
  clients/extension/assets/images/icon-128.png
  clients/extension/assets/images/icon-16.png
  clients/extension/assets/images/icon-32.png
  clients/extension/assets/images/icon-48.png
  clients/extension/assets/images/pocket-logo.png
  clients/extension/background.ts
  clients/extension/content/scripts.ts
  clients/extension/content/styles.css
  clients/extension/eslint.config.mjs
  clients/extension/manifest.json
  clients/extension/package.json
  clients/extension/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3597414541761b1997aceecdeae4fed5966f5fcc
Due: none

fix(snowplow): upgrade snowplow due to post bug
  clients/web/package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  e744f7d9b9a024657e68f7f3f2fcb3aa4755e6fc
Due: none

fix(snowplow): revert snowplow update
  clients/web/package.json
  pnpm-lock.yaml
Due: none

Notes added by 'git notes add'
  303f5487dc9a19d54d3d1f4d7bb18e90a68f0366
Due: none

fix(sharing): adding back resolvedUrl for the derivers
  clients/web/src/common/api/derivers/item.js
  clients/web/src/components/item/item.js
  clients/web/src/connectors/items/mutation-share.state.js
Due: prettier --write

Notes added by 'git notes add'
  c86bccf37e31fa672efb250e9ab60e56a4580c33
Due: none

chore(test wraper): simplify declaration
  config/jest-config/wrapper.tsx
Due: eslint --fix, prettier --write

chore(package): run syncpack
  clients/extension/package.json
  clients/pocket/package.json
  clients/web/package.json
  common/localization/package.json
  config/document-config/package.json
  config/storybook-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
Due: none

chore(dependencies): update turbo to latest
  package.json
  pnpm-lock.yaml
Due: none

chore(typescript): update to latest
  clients/extension/package.json
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/constants/package.json
  common/localization/package.json
  common/state/package.json
  common/utilities/package.json
  config/eslint-config/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(eslint): update to latest
  clients/pocket/package.json
  clients/web/package.json
  config/eslint-config/package.json
  pnpm-lock.yaml
Due: none

chore(dependencies): update safe dev dependencies
  clients/extension/package.json
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  common/types/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
  ui/styles/package.json
Due: none

chore(lintstaged): simplify config
  clients/pocket/.lintstagedrc.js
  clients/web/.lintstagedrc.js
Due: prettier --write

chore(eslint): update perfectionist
  clients/pocket/app/[locale]/page.tsx
  config/eslint-config/perfectionist.mjs
  ui/components/error-not-found/component.test.tsx
  ui/components/error/component.test.tsx
  ui/components/item-actions-overflow/component.test.tsx
  ui/components/item-actions-save/component.test.tsx
  ui/components/item-actions/component.test.tsx
  ui/components/item-article-layout/component.test.tsx
  ui/components/item-article/component.test.tsx
  ui/components/nav-footer-cookie-preference/component.test.tsx
  ui/components/nav-footer/component.test.tsx
  ui/components/nav-top-account-auth/component.test.tsx
  ui/components/nav-top-account/component.test.tsx
  ui/components/nav-top-search/component.test.tsx
Due: eslint --fix, prettier --write

chore(next): update to latest dependency
  clients/pocket/package.json
  clients/web/package.json
  common/state/package.json
  common/types/package.json
  config/jest-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: none

chore(depenencies): emotion and extension
  clients/extension/package.json
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/state/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  package.json
  pnpm-lock.yaml
  ui/components/item-sound/component.test.tsx
  ui/components/item-video/component.test.tsx
  ui/components/package.json
  ui/icons/package.json
Due: eslint --fix, prettier --write

fix(updated): baseline working model
  clients/pocket/app/global-error.tsx
  clients/pocket/instrumentation.ts
  clients/pocket/middleware.ts
  clients/pocket/next.config.mjs
  clients/pocket/package.json
  clients/pocket/sentry.client.config.ts
  clients/pocket/sentry.edge.config.ts
  clients/pocket/sentry.server.config.ts
  clients/scraper/package.json
  clients/web/package.json
  common/localization/src/constants.ts
  common/localization/src/index.ts
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  ui/components/__snapshots__/item-actions-overflow.ts.snap
  ui/components/__snapshots__/item-actions.ts.snap
  ui/components/__snapshots__/item-article.ts.snap
  ui/components/__snapshots__/nav-top.ts.snap
  ui/components/package.json
  ui/styles/package.json
Due: eslint --fix, prettier --write
