Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.tsx": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "*.js": ["prettier --write"]
}

Notes added by 'git notes add'
  3de8b0a64c474fef15f13370aeeedc3fff371908
Due: none

fix(home): error on itemImage change
  clients/web/src/components/item/item.signaled.js
Due: prettier --write

Notes added by 'git notes add'
  17fc4a7aee319752f2862815e3834e35e58b7fca
Due: none

chore(config): update for es2017
  clients/pocket/tsconfig.json
Due: none

chore(dependencies): latest 10-23-2024
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  common/types/package.json
  common/utilities/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
  ui/components/package.json
  ui/icons/package.json
Due: none

chore(dependencies): update eslint to 9>
  .lintstagedrc.js
  .lintstagedrc.json
  clients/pocket/package.json
  clients/web/.eslintrc.json
  clients/web/package.json
  common/localization/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/styles/package.json
Due: prettier --write

fix(upgrades): remove eslint from stage [TEMP]
  .lintstagedrc.js
  clients/pocket/app/[locale]/saves/page.tsx
Due: eslint --fix, prettier --write

chore(dependencies): 10-25-2024
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: none

build(static render): add static render to future pocket
  clients/pocket/app/[locale]/[...rest]/page.tsx
  clients/pocket/app/[locale]/about/page.tsx
  clients/pocket/app/[locale]/collections/page.tsx
  clients/pocket/app/[locale]/layout.tsx
  clients/pocket/app/[locale]/page.tsx
  clients/pocket/app/[locale]/saves/page.tsx
  clients/pocket/app/[locale]/settings/page.tsx
  clients/pocket/next.config.mjs
  common/localization/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(pocket): add active links / test static locale
  ui/components/nav-top-account-profile/index.tsx
  ui/components/nav-top-account-profile/style.module.css
  ui/styles/pocket/global.css
  ui/styles/pocket/layout.css
Due: eslint --fix, prettier --write

test(pocket): item article test use preview data
  clients/pocket/tsconfig.json
  clients/web/tsconfig.json
  common/mock-data/in-state/itemsById.json
  common/mock-data/in-state/previewData.json
  ui/components/__snapshots__/item-article-media.ts.snap
  ui/components/__snapshots__/item-article.ts.snap
  ui/components/item-article-media/component.test.tsx
  ui/components/item-article-media/index.tsx
  ui/components/item-article/component.test.tsx
  ui/components/item-article/index.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  edfbbff799ebc88d539f67ec956f0e1b10243fc9
Due: none

feat(item): full time preview metadata
  clients/web/src/common/api/queries/get-saved-items.js
  clients/web/src/connectors/items/items-saved.state.js
Due: prettier --write

feat(item): use preview metadata in saves search
  clients/web/src/common/api/queries/get-saved-items-search.js
Due: prettier --write

feat(item): preview metadata in tagged saves
  clients/web/src/common/api/queries/get-saved-items-tagged.js
Due: prettier --write

fix(item media): adjust image height render
  clients/web/src/components/item/item-media.js
  clients/web/src/containers/collections/stories-page/card.spec.js.snap
Due: prettier --write

feat(home): add preview metadata
  clients/web/src/common/api/queries/get-home-unified.js
Due: prettier --write

Notes added by 'git notes add'
  f0a7721193a8784b63a0e30e409989a04c8e2f09
Due: none

feat(discover): add item preview
  clients/web/src/common/api/queries/get-discover.js
Due: prettier --write

fix(reader): preload google fonts into reader
  clients/web/src/components/fonts/fonts.js
  clients/web/src/containers/read/reader.js
Due: prettier --write

Notes added by 'git notes add'
  075d3dd02d398c33b19759d54329bc08ea033a5f
Due: none

feat(item): improve item response consistency
  clients/pocket/app/api/_fragments/preview.ts
  clients/pocket/app/api/_fragments/saved-info.ts
  clients/pocket/app/api/get-home-feed/index.ts
  clients/pocket/tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  9ad3d788a86e9e30e2c539c2621de1527e903a84
Due: none

feat(saves): add saves to pocket future
  clients/pocket/app/[locale]/page.tsx
  clients/pocket/app/[locale]/saves/page.tsx
  common/state/_fragments/preview.ts
  common/state/_fragments/saved-info.ts
  common/state/package.json
  common/state/page-home/server.ts
  common/state/page-saves/server.ts
  common/state/user-info/session.ts
  common/utilities/error-handler/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(saves): update types for saves call
  clients/pocket/app/[locale]/saves/page.tsx
  common/state/page-saves/server.ts
  common/types/client/utilities.ts
  common/types/index.d.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  6b4913ff3901fac21c065a1166395870a300de94
Due: none

chore(deps): updating terraform modules and adding in cost tags
  infrastructure/pocket/.terraform-version
  infrastructure/pocket/package.json
  infrastructure/pocket/src/config/index.ts
  infrastructure/web/.terraform-version
  infrastructure/web/package.json
  infrastructure/web/src/config/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(schema): update to latest
  common/types/pocket/index.d.ts
  common/types/schema.graphql
Due: eslint --fix, prettier --write

fix(user collections): add givenUrl
  clients/web/src/common/api/queries/get-saved-items-search.js
  clients/web/src/common/api/queries/get-saved-items-tagged.js
  clients/web/src/common/api/queries/get-saved-items.js
Due: prettier --write

Notes added by 'git notes add'
  6180de72b48c65ac656a35e0820324bed6a40c53
Due: none

chore(dependencies): update to latest
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  common/types/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  config/storybook-config/.storybook/main.ts
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/styles/package.json
Due: eslint --fix, prettier --write

chore(storybook): omit ssr stories for now
  pnpm-lock.yaml
  ui/components/layout-main/component.story.ssr.tsx
  ui/components/nav-top-account-profile/component.story.ssr.tsx
  ui/components/nav-top-account/component.story.ssr.tsx
  ui/components/nav-top/component.story.ssr.tsx
Due: eslint --fix, prettier --write

chore(schema): adding omnivore import to schema
  common/types/pocket/index.d.ts
  common/types/schema.graphql
Due: eslint --fix, prettier --write

feat(import): add icon
  ui/icons/svgs/import.svg
Due: none

feat(import): importUpload mutation
  clients/web/src/common/api/mutations/importUpload.ts
Due: eslint --fix, prettier --write

feat(import): add omnivore import
  clients/web/src/actions.js
  clients/web/src/common/api/mutations/import-upload-url.ts
  clients/web/src/common/api/mutations/importUpload.ts
  clients/web/src/components/global-nav/account/global-nav-account.js
  clients/web/src/components/global-nav/global-nav.js
  clients/web/src/connectors/confirm/items-import.js
  clients/web/src/connectors/feature-flags/feature-flags.state.js
  clients/web/src/connectors/global-nav/global-nav.js
  clients/web/src/connectors/items/mutation-import.state.js
  clients/web/src/pages/_app.js
  clients/web/src/pages/api/import.ts
  clients/web/src/store.js
Due: eslint --fix, prettier --write

feat(import): add omnivore flag
  clients/web/src/components/global-nav/account/global-nav-account.js
  clients/web/src/components/global-nav/global-nav.js
  clients/web/src/connectors/global-nav/global-nav.js
Due: prettier --write

Notes added by 'git notes add'
  802a7742419536b204973b00cfe24bf3343ec0d3
Due: none

fix(import): use designated api route
  clients/web/src/connectors/items/mutation-import.state.js
Due: prettier --write
