Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(utilities): pocket request (graphql)
  clients/pocket/app/(server)/api/get-home-feed/index.ts
  clients/pocket/app/(server)/api/sentry-example-api/route.ts
  clients/pocket/app/api/get-home-feed/route.ts
  clients/pocket/app/page.tsx
  clients/pocket/package.json
  common/utilities/error-handler/index.ts
  common/utilities/package.json
  common/utilities/pocket-request/index.ts
  common/utilities/pocket-request/request.test.ts
Due: eslint --fix, prettier --write

feat(home): display feeds
  clients/pocket/app/(server)/api/get-home-feed/index.ts
  clients/pocket/app/global-error.tsx
  clients/pocket/app/page.tsx
  common/utilities/pocket-request/index.ts
  config/generators/ui-component/component.test.tsx.hbs
  pnpm-lock.yaml
  ui/components/__snapshots__/error-not-found.ts.snap
  ui/components/__snapshots__/error.ts.snap
  ui/components/__snapshots__/placard.ts.snap
  ui/components/error-not-found/component.test.tsx
  ui/components/error/component.test.tsx
  ui/components/error/index.tsx
  ui/components/error/style.module.css
  ui/components/item/component.story.tsx
  ui/components/item/component.test.tsx
  ui/components/item/index.tsx
  ui/components/item/style.module.css
  ui/components/nav-footer-theme/index.tsx
  ui/components/nav-top/style.module.css
  ui/components/placard-banner/component.story.tsx
  ui/components/placard-banner/component.test.tsx
  ui/components/placard-banner/index.tsx
  ui/components/placard-banner/style.module.css
  ui/components/placard/component.test.tsx
  ui/components/placard/index.tsx
  ui/styles/pocket/global.css
  ui/styles/pocket/index.css
  ui/styles/pocket/layout.css
  ui/styles/pocket/z-index.css
Due: eslint --fix, prettier --write

test(error): update snap
  clients/pocket/app/(server)/api/sentry-example-api/route.ts
  clients/pocket/app/sentry-example-page/page.tsx
  ui/components/__snapshots__/error-not-found.ts.snap
  ui/components/error-not-found/component.test.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  34e43294aaabf028d58ada11e3539dae2da6c726
Due: none

fix(home): add revalidation
  clients/pocket/app/page.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  7c3dec72939161581e40e34319086f94eb9f0db7
Due: none

fix(snowplow): fixing page view
  clients/web/src/connectors/snowplow/snowplow.state.js
Due: prettier --write

Notes added by 'git notes add'
  56d20aa464066192cd44e38c3f69ecd9a3f02cc7
Due: none

feat(item): add item menu template
  pnpm-lock.yaml
  ui/components/item-actions-menu/component.story.tsx
  ui/components/item-actions-menu/component.test.tsx
  ui/components/item-actions-menu/index.tsx
  ui/components/item-actions-menu/style.module.css
  ui/components/item-actions/component.story.tsx
  ui/components/item-actions/index.tsx
  ui/components/item-actions/style.module.css
  ui/components/item/style.module.css
  ui/components/package.json
  ui/styles/pocket/buttons.css
  ui/styles/pocket/global.css
  ui/styles/pocket/variables.css
Due: eslint --fix, prettier --write

refactor(generators): remove aquatic cruft
  config/generators/common-state/hydrate.tsx.hbs
  config/generators/common-state/index.ts.hbs
  config/generators/common-state/state.test.ts.hbs
Due: none

feat(state): item status baseline
  common/state/item-status/hydrate.tsx
  common/state/item-status/index.ts
  common/state/item-status/state.test.ts
  common/state/jest.config.ts
  common/state/package.json
Due: eslint --fix, prettier --write

build(storybook): update decorators
  ui/components/_base/button.story.tsx
  ui/components/_decorators/inCenter.tsx
  ui/components/_decorators/inGrid.tsx
  ui/components/_decorators/style.module.css
Due: eslint --fix, prettier --write

feat(pocket future): update styles
  ui/styles/pocket/buttons.css
  ui/styles/pocket/dividers.css
  ui/styles/pocket/global.css
  ui/styles/pocket/index.css
  ui/styles/pocket/variables.css
Due: none

feat(item actions): actions for future pocket
  pnpm-lock.yaml
  ui/components/item-actions-menu/component.story.tsx
  ui/components/item-actions-menu/index.tsx
  ui/components/item-actions-menu/style.module.css
  ui/components/item-actions-overflow/component.story.tsx
  ui/components/item-actions-overflow/component.test.tsx
  ui/components/item-actions-overflow/index.tsx
  ui/components/item-actions-overflow/style.module.css
  ui/components/item-actions-save/component.story.tsx
  ui/components/item-actions-save/component.test.tsx
  ui/components/item-actions-save/index.tsx
  ui/components/item-actions-save/style.module.css
  ui/components/item-actions/component.story.tsx
  ui/components/item-actions/index.tsx
  ui/components/item-actions/style.module.css
  ui/components/item/index.tsx
  ui/components/item/style.module.css
Due: eslint --fix, prettier --write

refactor(icons): specific imports for icons
  pnpm-lock.yaml
  ui/components/_base/icons.story.tsx
  ui/components/item-actions-overflow/index.tsx
  ui/components/item-actions-save/index.tsx
  ui/components/item-actions/index.tsx
  ui/icons/build.ts
Due: eslint --fix, prettier --write

feat(actions): add catagory matcher
  pnpm-lock.yaml
  ui/components/item-actions-overflow/index.tsx
  ui/components/item-actions-save/index.tsx
  ui/components/item-actions-save/style.module.css
  ui/components/package.json
  ui/styles/pocket/buttons.css
  ui/styles/pocket/global.css
Due: eslint --fix, prettier --write

test(item actions): update to add more fidelity
  common/state/item-status/state.test.ts
  ui/components/__snapshots__/item-actions-overflow.ts.snap
  ui/components/__snapshots__/item-actions-save.ts.snap
  ui/components/__snapshots__/item-actions.ts.snap
  ui/components/__snapshots__/item.ts.snap
  ui/components/item-actions-overflow/component.test.tsx
  ui/components/item-actions-overflow/index.tsx
  ui/components/item-actions-save/component.test.tsx
  ui/components/item-actions-save/index.tsx
  ui/components/item-actions/component.test.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e06391f33b3bef20eb27928360c7b1a1525ae438
Due: none

fix(home): add corpusRecId to id field for now
  clients/pocket/app/(server)/api/get-home-feed/index.ts
  common/state/item-status/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  d037f4b4bdc1179fd549fbf63589189e02c2a179
Due: none

fix(item actions): hover state in active portal
  ui/components/__snapshots__/item-actions-overflow.ts.snap
  ui/components/__snapshots__/item-actions.ts.snap
  ui/components/__snapshots__/item.ts.snap
  ui/components/item-actions-overflow/index.tsx
  ui/components/item-actions-save/index.tsx
  ui/components/item-actions/style.module.css
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  1b29847e29d6e25c7ee2fb6f9bd2ddc220f069f2
Due: none

fix(item): anchor hover panel ref
  ui/components/__snapshots__/item-actions-save.ts.snap
  ui/components/__snapshots__/item-actions.ts.snap
  ui/components/__snapshots__/item.ts.snap
  ui/components/item-actions-overflow/index.tsx
  ui/components/item-actions-save/component.test.tsx
  ui/components/item-actions-save/index.tsx
  ui/components/item-actions/index.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  316031f651fc3cb8ceb325720c1e49fbfbdeb1f5
Due: none

feat(search): initial corpus search page
  clients/web/src/actions.js
  clients/web/src/common/api/derivers/item.js
  clients/web/src/common/api/queries/get-corpus-search.js
  clients/web/src/connectors/items/items-display.state.js
  clients/web/src/connectors/search-corpus/index.js
  clients/web/src/connectors/search-corpus/style.module.css
  clients/web/src/containers/home/home.js
  clients/web/src/containers/home/recent-saves/greeting.js
  clients/web/src/containers/home/sign-up-cta/index.tsx
  clients/web/src/containers/home/style.module.css
  clients/web/src/containers/search/index.js
  clients/web/src/containers/search/search.state.js
  clients/web/src/pages/search/index.ts
  clients/web/src/store.js
Due: eslint --fix, prettier --write

chore(corpus search): clean up some comments
  clients/web/src/connectors/search-corpus/index.js
Due: prettier --write

Notes added by 'git notes add'
  1c101aec6d965c90ab4ad46d66e2a332add25285
Due: none

fix(syndicated): switch to static generation
  clients/web/src/pages/discover/item/[slug].js
Due: prettier --write

Notes added by 'git notes add'
  7bcfaeef593666322c1fdd93807a45f7f8bf7bae
Due: none

fix(reader): don’t request tags until resolved
  clients/web/src/actions.js
  clients/web/src/containers/read/reader.js
  clients/web/src/containers/read/reader.state.js
Due: prettier --write

fix(home): resolve user before share render
  clients/web/src/containers/home/home.js
Due: prettier --write

Notes added by 'git notes add'
  ce454ff27201236d5e82a13036f484196da0d4a9
Due: none

fix(snowplow): remove auto button tracking for now
  clients/web/src/common/setup/snowplow.js
Due: prettier --write

Notes added by 'git notes add'
  4f0951d1679bee57bb2356b1c82fabd9d0df744e
Due: none

fix(search): persist search term
  clients/web/src/connectors/search-corpus/index.js
  clients/web/src/containers/search/index.js
  clients/web/src/pages/search/index.ts
Due: eslint --fix, prettier --write

fix(search): add load more and virtualization
  clients/web/src/actions.js
  clients/web/src/common/api/queries/get-corpus-search.js
  clients/web/src/components/pagination/pagination.tsx
  clients/web/src/connectors/items/item-card-search.js
  clients/web/src/containers/collections/collections.js
  clients/web/src/containers/search/index.js
  clients/web/src/containers/search/list-of-items.js
  clients/web/src/containers/search/load-more.js
  clients/web/src/containers/search/search.state.js
  clients/web/src/pages/search/index.ts
Due: eslint --fix, prettier --write

fix(search): add corpus search analytics actions
  clients/web/src/connectors/snowplow/actions/index.js
  clients/web/src/connectors/snowplow/actions/search.js
  clients/web/src/containers/search/list-of-items.js
Due: prettier --write

Notes added by 'git notes add'
  915465fb6c119d90865c91ecc524cb0bb62fc306
Due: none

feat(items): add new item types
  ui/components/item-micro/component.story.tsx
  ui/components/item-micro/component.test.tsx
  ui/components/item-micro/index.tsx
  ui/components/item-micro/style.module.css
  ui/components/item-pad/component.story.tsx
  ui/components/item-pad/component.test.tsx
  ui/components/item-pad/index.tsx
  ui/components/item-pad/style.module.css
  ui/components/item-product/component.story.tsx
  ui/components/item-product/component.test.tsx
  ui/components/item-product/index.tsx
  ui/components/item-product/style.module.css
  ui/components/item-short-layout/component.story.tsx
  ui/components/item-short-layout/component.test.tsx
  ui/components/item-short-layout/index.tsx
  ui/components/item-short-layout/style.module.css
  ui/components/item-short/component.story.tsx
  ui/components/item-short/component.test.tsx
  ui/components/item-short/index.tsx
  ui/components/item-short/style.module.css
  ui/components/item-sound-layout/component.story.tsx
  ui/components/item-sound-layout/component.test.tsx
  ui/components/item-sound-layout/index.tsx
  ui/components/item-sound-layout/style.module.css
  ui/components/item-sound/component.story.tsx
  ui/components/item-sound/component.test.tsx
  ui/components/item-sound/index.tsx
  ui/components/item-sound/style.module.css
  ui/components/item-video-layout/component.story.tsx
  ui/components/item-video-layout/component.test.tsx
  ui/components/item-video-layout/index.tsx
  ui/components/item-video-layout/style.module.css
  ui/components/item-video/component.story.tsx
  ui/components/item-video/component.test.tsx
  ui/components/item-video/expand.tsx
  ui/components/item-video/index.tsx
  ui/components/item-video/style.module.css
Due: eslint --fix, prettier --write

feat(hook): add use dimensions hook
  ui/components/use-dimensions/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.js)
