Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(cleanup): remove unused files
  clients/web/src/components/tag-lists/recent-tags.js
Due: prettier --write

fix(share): use item instead of legacy card
  clients/web/src/components/share-modal/share-modal.js
Due: prettier --write

fix(ui): future item compliance
  ui/components/item-article/index.tsx
  ui/components/item-article/style.module.css
Due: eslint --fix, prettier --write

fix(collection stories): use common item code
  clients/web/src/components/item/item-styles.js
  clients/web/src/components/item/item.js
  clients/web/src/containers/collections/stories-page/card.js
  clients/web/src/containers/collections/stories-page/stories-page.js
Due: prettier --write

chore(cleanup): remove unused legacy code
  clients/web/src/components/item-card/card-base.js
  clients/web/src/components/item-card/card-skeleton.js
  clients/web/src/components/item-card/card.js
  clients/web/src/components/item-card/card.story.js
Due: prettier --write

test(stories card): update tests - new common item
  clients/web/src/containers/collections/stories-page/card.spec.js
  clients/web/src/containers/collections/stories-page/card.spec.js.snap
  ui/components/__snapshots__/item-article.ts.snap
Due: prettier --write

Notes added by 'git notes add'
  bf25791550cea32661ee56a84f793a380e00f6cd
Due: none

chore(dependencies): update to latest
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/state/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
  ui/styles/package.json
Due: none

fix(layout): increase row gap for shadows
  ui/styles/pocket/global.css
  ui/styles/pocket/layout.css
Due: none

fix(components): useTranslation over direct import
  clients/pocket/next.config.mjs
  clients/pocket/package.json
  common/localization/.eslintrc.json
  common/localization/package.json
  common/localization/src/index.react-server.ts
  common/localization/src/index.ts
  common/localization/tsconfig.json
  pnpm-lock.yaml
  ui/components/error-not-found/index.tsx
  ui/components/item-actions-overflow/index.tsx
  ui/components/item-actions-save/index.tsx
  ui/components/nav-footer-cookie-preference/index.tsx
  ui/components/nav-footer/index.tsx
  ui/components/nav-top-account-auth/index.tsx
  ui/components/nav-top-account-profile/index.tsx
  ui/components/nav-top-search/index.tsx
  ui/components/nav-top/index.tsx
Due: eslint --fix, prettier --write

feat(localization): add localized routing to app
  clients/pocket/app/[locale]/[...rest]/page.tsx
  clients/pocket/app/[locale]/layout.tsx
  clients/pocket/app/[locale]/page.tsx
  clients/pocket/app/api/get-home-feed/index.ts
  clients/pocket/middleware.ts
  clients/pocket/tsconfig.json
  common/localization/package.json
  common/localization/src/constants.ts
  common/localization/src/index.react-server.ts
  common/localization/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(localization): add i18n initialization
  common/localization/package.json
  common/localization/src/initTranslations.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(localization): set up client useTranslation
  clients/pocket/app/[locale]/layout.tsx
  common/localization/messages/en/item-action.json
  common/localization/package.json
  common/localization/src/index.ts
  common/localization/src/initTranslations.ts
  common/localization/src/utilities.ts
  config/eslint-config/package.json
  pnpm-lock.yaml
  ui/components/item-actions-overflow/index.tsx
  ui/components/item-actions-save/index.tsx
  ui/components/item-actions/index.tsx
  ui/components/nav-footer-cookie-preference/index.tsx
  ui/components/nav-footer/index.tsx
  ui/components/package.json
Due: eslint --fix, prettier --write

feat(localization): add server side w/o trans component
  common/localization/src/index.react-server.ts
  common/localization/src/utilities.ts
  ui/components/nav-footer/index.tsx
  ui/components/nav-top-search/index.tsx
Due: eslint --fix, prettier --write

feat(localization): add server Trans component
  common/localization/src/index.react-server.ts
  ui/components/nav-footer/index.tsx
  ui/components/nav-top-search/index.tsx
Due: eslint --fix, prettier --write

chore(layout): clean up unused component
  ui/components/__snapshots__/layout-main.ts.snap
  ui/components/layout-main/component.story.tsx
  ui/components/layout-main/component.test.tsx
  ui/components/layout-main/index.tsx
Due: eslint --fix, prettier --write

chore(constants): move ui locale constants
  common/constants/index.ts
  common/localization/src/constants.ts
  ui/components/nav-footer-language/index.tsx
Due: eslint --fix, prettier --write

test(ui): update wrapper pattern for localization
  config/jest-config/wrapper.tsx
  ui/components/__snapshots__/item-actions-overflow.ts.snap
  ui/components/__snapshots__/nav-footer.ts.snap
  ui/components/__snapshots__/nav-top-search.ts.snap
  ui/components/__snapshots__/nav-top.ts.snap
  ui/components/error-not-found/component.test.tsx
  ui/components/error/component.test.tsx
  ui/components/item-actions-overflow/component.test.tsx
  ui/components/item-actions-save/component.test.tsx
  ui/components/item-actions/component.test.tsx
  ui/components/item-article-layout/component.test.tsx
  ui/components/item-article/component.test.tsx
  ui/components/nav-footer-cookie-preference/component.test.tsx
  ui/components/nav-footer/component.test.tsx
  ui/components/nav-top-account-auth/component.test.tsx
  ui/components/nav-top-account/component.test.tsx
  ui/components/nav-top-search/component.test.tsx
Due: eslint --fix, prettier --write

fix(footer): import const from proper place
  clients/web/package.json
  clients/web/src/connectors/languages/languages.js
  pnpm-lock.yaml
Due: prettier --write

fix(global error): add locale
  clients/pocket/app/global-error.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  34593873fba41dc69fd4f5487538cda20012e39a
Due: none

fix(search): add search specific metrics
  clients/web/src/connectors/global-nav/global-nav-search.js
  clients/web/src/connectors/snowplow/actions/global-nav.js
Due: prettier --write

Notes added by 'git notes add'
  7fb2d1e2ce383f9601c954bffee4f21d3a6847b7
Due: none

feat(collections): derive items with preview data
  clients/web/src/common/api/derivers/preview.ts
  clients/web/src/common/api/queries/get-collections.js
Due: eslint --fix, prettier --write

build(turbo): switch to stream ui
  turbo.json
Due: none

chore(home): clean up unused flag
  clients/web/src/containers/home/home.js
Due: prettier --write

chore(changelog): removing defunct changelog
  CHANGELOG.md
Due: prettier --write

build(schema): update schema
  common/types/pocket/index.d.ts
  common/types/schema.graphql
Due: eslint --fix, prettier --write

fix(deriver): set up unique derivers
  clients/web/src/common/api/derivers/preview.ts
  clients/web/src/common/api/queries/get-corpus-search.js
Due: eslint --fix, prettier --write

feat(syndicated): add cta
  clients/web/src/components/call-out/call-out-syndicated.tsx
  clients/web/src/connectors/snowplow/actions/syndicated-article.js
  clients/web/src/containers/syndicated-article/syndicated-article.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  40e0f685bbe250eac09e1801525bea366850f26b
Due: none

feat(future pocket): use item preview metadata
  clients/pocket/app/api/_fragments/preview.ts
  clients/pocket/app/api/get-home-feed/index.ts
Due: eslint --fix, prettier --write

feat(item): use preview metadata for saves
  clients/web/src/common/api/derivers/item.js
  clients/web/src/common/api/fragments/fragment.item.js
  clients/web/src/common/api/queries/get-saved-items.js
  clients/web/src/connectors/items/items-saved.state.js
Due: prettier --write

Notes added by 'git notes add'
  9357917bc2f6dfff530facbf47c15d24254d5b54
Due: none

chore(dependencies): 10-17-2024
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/constants/package.json
  common/localization/package.json
  common/state/package.json
  common/types/package.json
  common/utilities/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
  ui/styles/legacy/global.css
  ui/styles/package.json
  ui/styles/pocket/global.css
Due: none

Notes added by 'git notes add'
  8fba1b674d912810b891130bce74365e45caead3
Due: none

chore(dependencies): roll back infra
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
Due: none

fix(card media): move caching url to deriver
  clients/web/src/common/api/derivers/item.js
  clients/web/src/components/item/item-media.js
  clients/web/src/components/item/item.js
Due: prettier --write

fix(card media): update tests to for higher cache
  clients/web/src/common/api/derivers/collection/home.spec.js
  clients/web/src/common/api/derivers/collection/page.spec.js
  clients/web/src/common/api/derivers/collection/story.spec.js
  clients/web/src/common/api/derivers/discover/discover.spec.js
  clients/web/src/common/api/derivers/discover/home.spec.js
  clients/web/src/common/api/derivers/discover/syndicated.spec.js
  clients/web/src/common/api/derivers/list/collection.spec.js
  clients/web/src/common/api/derivers/list/parsed.spec.js
  clients/web/src/common/api/derivers/list/unparsed.spec.js
  clients/web/src/containers/collections/stories-page/card.spec.js.snap
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.js)
