Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.tsx": ["eslint --fix", "prettier --write"],
  "*.md": ["prettier --write"],
  "*.js": ["prettier --write"]
}

chore(updates): latest safe
  clients/pocket/package.json
  clients/web/package.json
  common/localization/src/utilities.ts
  common/state/package.json
  common/types/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  package.json
  pnpm-lock.yaml
  ui/components/item-actions/index.tsx
  ui/components/package.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  8dae44cdeaf55a4c538c3234dbac562e967cd618
Due: none

fix(placards): improve placard sizing/shapes
  clients/web/src/connectors/placards/placards.js
  clients/web/src/connectors/placards/style.module.css
  clients/web/src/containers/syndicated-article/syndicated-article.js
  clients/web/src/pages/api/placards.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  bf0f1a3f3a28ca072ffb95eb74a8a38632370448
Due: none

build(extension): allow from turbo
  clients/extension/manifest.json
  package.json
  turbo.json
Due: none

feat(extension): rough out structures
  clients/extension/action/app.tsx
  clients/extension/action/script.tsx
  clients/extension/assets/styles/fonts.css
  clients/extension/assets/styles/global.css
  clients/extension/components/action-container/component.story.tsx
  clients/extension/components/action-container/index.tsx
  clients/extension/components/action-container/style.module.css
  clients/extension/components/action-header/component.story.tsx
  clients/extension/components/action-header/index.tsx
  clients/extension/components/action-header/style.module.css
  clients/extension/components/icons/icon-notes.tsx
  clients/extension/components/icons/icon-save.tsx
  clients/extension/components/icons/icon-snippets.tsx
  clients/extension/components/saved-notes/component.story.tsx
  clients/extension/components/saved-notes/index.tsx
  clients/extension/components/saved-notes/style.module.css
  clients/extension/components/saved-preview/component.story.tsx
  clients/extension/components/saved-preview/index.tsx
  clients/extension/components/saved-preview/style.module.css
  clients/extension/components/saved-tags/component.story.tsx
  clients/extension/components/saved-tags/index.tsx
  clients/extension/components/saved-tags/style.module.css
  clients/extension/components/saved/component.story.tsx
  clients/extension/components/saved/index.tsx
  clients/extension/components/saved/style.module.css
  clients/extension/components/waypoint/index.tsx
  clients/extension/components/waypoint/style.module.css
  clients/extension/package.json
  clients/web/package.json
  common/localization/package.json
  common/state/package.json
  common/types/package.json
  config/jest-config/package.json
  config/storybook-config/.storybook-ext/main.ts
  config/storybook-config/.storybook-ext/preview.tsx
  config/storybook-config/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

feat(extension): add preview with types
  clients/extension/assets/types/index.ts
  clients/extension/components/action-container/component.story.tsx
  clients/extension/components/action-container/index.tsx
  clients/extension/components/saved-preview/component.story.tsx
  clients/extension/components/saved-preview/index.tsx
  clients/extension/components/saved-preview/style.module.css
  clients/extension/components/saved/component.story.tsx
  clients/extension/components/saved/index.tsx
  clients/extension/package.json
  common/mock-data/graph-response/upsert-response.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(extension): add new types for extension
  common/types/client/item.ts
  common/types/extension/preview.ts
  common/types/index.d.ts
Due: eslint --fix, prettier --write

feat(extension): structural updates
  clients/extension/.gitignore
  clients/extension/README.md
  clients/extension/action/app.tsx
  clients/extension/action/script.tsx
  clients/extension/actions.ts
  clients/extension/assets/styles/global.css
  clients/extension/assets/types/index.ts
  clients/extension/background.ts
  clients/extension/background/api/upsert.ts
  clients/extension/background/index.ts
  clients/extension/background/interface.ts
  clients/extension/background/utilities.ts
  clients/extension/components/action-container/component.story.tsx
  clients/extension/components/action-container/index.tsx
  clients/extension/components/action-header/index.tsx
  clients/extension/components/icons/icon-notes.tsx
  clients/extension/components/icons/icon-save.tsx
  clients/extension/components/saved-loader/component.story.tsx
  clients/extension/components/saved-loader/index.tsx
  clients/extension/components/saved-loader/style.module.css
  clients/extension/components/saved-preview/component.story.tsx
  clients/extension/components/saved-preview/index.tsx
  clients/extension/components/saved-preview/style.module.css
  clients/extension/components/saved/index.tsx
  clients/extension/components/saved/style.module.css
  clients/extension/content/login.ts
  clients/extension/content/logout.ts
  clients/extension/content/scripts.ts
  clients/extension/content/styles.css
  clients/extension/eslint.config.mjs
  clients/extension/manifest.json
  clients/extension/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(tests): update for pocket request
  common/state/_fragments/preview.ts
  common/state/_fragments/saved-info.ts
  common/state/page-saves/server.ts
  common/state/user-info/server.ts
  ui/components/__snapshots__/nav-footer.ts.snap
Due: eslint --fix, prettier --write

fix(pocket): update request types in future pocket
  common/state/page-home/server.ts
  common/state/page-saves/server.ts
  common/state/user-info/server.ts
  common/utilities/request/index.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  ddce469d5bf6aac8fe6dadf676737d38ac6af1a4
Due: none

fix(items): add some fidelity to unresolved `zombie` items
  clients/web/src/common/api/derivers/item.js
  clients/web/src/common/api/derivers/list/image.spec.js
  clients/web/src/common/api/queries/get-saved-items.js
  clients/web/src/connectors/items/items-saved.state.js
Due: prettier --write

Notes added by 'git notes add'
  f1463bb3a8228757eba4f06517ef77097bfa972f
Due: none

Revert "fix(items): add some fidelity to unresolved `zombie` items"
  clients/web/src/common/api/derivers/item.js
  clients/web/src/common/api/derivers/list/image.spec.js
  clients/web/src/common/api/queries/get-saved-items.js
  clients/web/src/connectors/items/items-saved.state.js
Due: prettier --write

Notes added by 'git notes add'
  3331983390c7b020d8d1d1b36b4c48742d05d5d8
Due: none

fix(saved items): update itemID fidelity to solve zombie items
  clients/web/src/common/api/fragments/fragment.preview.ts
  clients/web/src/common/api/fragments/fragment.savedItem.js
  clients/web/src/common/api/queries/get-saved-items-search.js
  clients/web/src/common/api/queries/get-saved-items-tagged.js
  clients/web/src/common/api/queries/get-saved-items.js
  clients/web/src/connectors/items/items-saved.state.js
Due: eslint --fix, prettier --write

fix(item): add info on unreachable items
  clients/web/src/common/api/derivers/item.js
  clients/web/src/common/api/fragments/fragment.savedItem.js
  clients/web/src/common/api/queries/get-corpus-search.js
Due: prettier --write

Notes added by 'git notes add'
  f71fef293f9460427e21bac2b856c9507e6cf696
Due: none

fix(tags): switch out legacy mutations
  clients/web/src/common/api/mutations/tags.ts
  clients/web/src/common/utilities/request/request.js
  clients/web/src/containers/saves/tagged/tagged-page.state.js
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  269ce48e80341eca809a553f5ec12f91ca0cafce
Due: none

fix(highlights): remove current position storage
  clients/web/src/components/annotations/annotations.list.js
  clients/web/src/components/annotations/utilities.js
  clients/web/src/components/reader/content.js
  clients/web/src/components/reader/sidebar.js
  clients/web/src/connectors/reader/highlights.js
  clients/web/src/connectors/reader/sidebar.js
  clients/web/src/containers/read/reader.state.js
Due: prettier --write

fix(highlights): remove highlight as wrapper
  clients/web/src/common/api/fragments/fragment.savedItem.js
  clients/web/src/common/api/queries/get-saved-item-by-id.js
  clients/web/src/connectors/reader/content.js
  clients/web/src/connectors/reader/highlights.js
Due: prettier --write

fix(highights): adjust state flow
  clients/web/src/components/annotations/utilities.js
  clients/web/src/components/reader/content.js
  clients/web/src/connectors/reader/highlights.js
Due: prettier --write

fix(reader): avoid nextjs error on fonts in head
  clients/web/src/containers/read/reader.js
Due: prettier --write

fix(reader): update id errors
  clients/web/src/containers/read/reader.js
  clients/web/src/containers/read/reader.state.js
Due: prettier --write

fix(reader): refactor how annotations are built
  clients/web/src/components/annotations/utilities.js
  clients/web/src/components/popover/popover-selection.js
  clients/web/src/components/reader/content.js
  clients/web/src/components/reader/sidebar.js
  clients/web/src/connectors/reader/content.js
  clients/web/src/connectors/reader/highlights.js
Due: prettier --write

fix(highlights): raise article ref
  clients/web/src/components/annotations/annotations.tics.js
  clients/web/src/components/reader/sidebar.js
  clients/web/src/connectors/reader/content.js
  clients/web/src/connectors/reader/sidebar.js
  clients/web/src/containers/read/reader.js
Due: prettier --write

fix(reader): lift annotations processed state
  clients/web/src/components/annotations/annotations.list.js
  clients/web/src/components/annotations/annotations.menu.js
  clients/web/src/components/annotations/annotations.tics.js
  clients/web/src/components/annotations/utilities.js
  clients/web/src/components/reader/content.js
  clients/web/src/components/reader/sidebar.js
  clients/web/src/connectors/reader/content.js
  clients/web/src/connectors/reader/sidebar.js
  clients/web/src/containers/read/reader.js
Due: prettier --write

Notes added by 'git notes add'
  b102bd76c4fe7aca769b44e27a6beb75bfa1bac4
Due: none

chore(dependencies): 01-23-2025
  clients/extension/package.json
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/constants/package.json
  common/localization/package.json
  common/state/package.json
  common/types/package.json
  common/utilities/package.json
  config/document-config/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
  ui/styles/package.json
Due: none

feat(extension): tagging interface
  clients/extension/components/action-container/component.story.tsx
  clients/extension/components/action-container/index.tsx
  clients/extension/components/action-footer/component.story.tsx
  clients/extension/components/action-footer/index.tsx
  clients/extension/components/action-footer/style.module.css
  clients/extension/components/saved-preview/component.story.tsx
  clients/extension/components/saved-tags/component.story.tsx
  clients/extension/components/saved-tags/index.tsx
  clients/extension/components/saved-tags/style.module.css
  clients/extension/components/saved/component.story.tsx
  clients/extension/components/saved/index.tsx
  clients/extension/package.json
  clients/extension/public/styles/global.css
Due: eslint --fix, prettier --write

fix(extension): add tags
  clients/extension/actions.ts
  clients/extension/background/index.ts
  clients/extension/components/action-container/component.story.tsx
  clients/extension/components/action-container/index.tsx
  clients/extension/components/action-footer/component.story.tsx
  clients/extension/components/action-footer/index.tsx
  clients/extension/components/action-footer/style.module.css
  clients/extension/components/action-header/index.tsx
  clients/extension/components/icons/DeleteIcon.tsx
  clients/extension/components/icons/NotesIcon.tsx
  clients/extension/components/icons/OverflowMenuIcon.tsx
  clients/extension/components/icons/SaveFilledIcon.tsx
  clients/extension/components/icons/SaveIcon.tsx
  clients/extension/components/icons/SnippetsIcon.tsx
  clients/extension/components/icons/icon-notes.tsx
  clients/extension/components/icons/icon-save.tsx
  clients/extension/components/notes/component.story.tsx
  clients/extension/components/notes/index.tsx
  clients/extension/components/notes/style.module.css
  clients/extension/components/saved-preview/component.story.tsx
  clients/extension/components/saved-preview/index.tsx
  clients/extension/components/saved-preview/style.module.css
  clients/extension/components/saved-tags/index.tsx
  clients/extension/components/saved-tags/style.module.css
  clients/extension/components/saved/component.story.tsx
  clients/extension/components/saved/index.tsx
  clients/extension/components/saved/style.module.css
  clients/extension/package.json
  clients/extension/public/styles/global.css
  common/mock-data/graph-response/upsert-response.json
  config/storybook-config/.storybook-ext/preview.tsx
  pnpm-lock.yaml
  ui/icons/svgs/notes.svg
  ui/icons/svgs/snippets.svg
Due: eslint --fix, prettier --write

fix(extension): update save flow
  clients/extension/action/app.tsx
  clients/extension/background/icon-updates/index.ts
  clients/extension/background/index.ts
  clients/extension/components/action-container/index.tsx
  clients/extension/components/action-footer/index.tsx
  clients/extension/components/action-header/index.tsx
  clients/extension/components/action-header/style.module.css
  clients/extension/components/icons/SaveFilledIcon.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(extension): add logo back
  clients/extension/components/action-header/index.tsx
  clients/extension/components/icons/Pocket.tsx
Due: eslint --fix, prettier --write

feat(extension): add notes page
  clients/extension/components/action-container/index.tsx
  clients/extension/components/action-error/component.story.tsx
  clients/extension/components/action-error/index.tsx
  clients/extension/components/action-error/style.module.css
  clients/extension/components/action-header/index.tsx
  clients/extension/components/action-header/style.module.css
  clients/extension/components/icons/AddNoteIcon.tsx
  clients/extension/components/icons/ArrowLeftIcon.tsx
  clients/extension/components/icons/ChevronLeftIcon.tsx
  clients/extension/components/notes-add/component.story.tsx
  clients/extension/components/notes-add/index.tsx
  clients/extension/components/notes-add/style.module.css
  clients/extension/components/notes-footer/component.story.tsx
  clients/extension/components/notes-footer/index.tsx
  clients/extension/components/notes-footer/style.module.css
  clients/extension/components/notes-list/component.story.tsx
  clients/extension/components/notes-list/index.tsx
  clients/extension/components/notes-list/style.module.css
  clients/extension/components/notes/component.story.tsx
  clients/extension/components/notes/index.tsx
  clients/extension/components/notes/style.module.css
  clients/extension/components/saved-footer/component.story.tsx
  clients/extension/components/saved-footer/index.tsx
  clients/extension/components/saved-footer/style.module.css
  clients/extension/components/saved-loader/style.module.css
  clients/extension/components/saved-preview/component.story.tsx
  clients/extension/components/saved-tags/component.story.tsx
  clients/extension/components/saved/index.tsx
  clients/extension/public/styles/global.css
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  887dcb7e822a671dcb8205476c3cc5f6e3c82464
Due: none

chore(schema): generate latest
  common/types/pocket/index.d.ts
  common/types/schema.graphql
Due: eslint --fix, prettier --write

feat(extension): add react markdown
  clients/extension/package.json
  pnpm-lock.yaml
Due: none
