Repository Pocket/web-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(layout): change story to `site` layout
  ui/components/layout-main/component.story.tsx
Due: eslint --fix, prettier --write

feat(items): update existing to support expansion
  common/mock-data/in-state/shortsById.json
  common/types/item.ts
  pnpm-lock.yaml
  ui/components/_decorators/inArticleLayout.tsx
  ui/components/_decorators/inCard.tsx
  ui/components/item-article-image/color-planes.tsx
  ui/components/item-article-image/component.story.tsx
  ui/components/item-article-image/component.test.tsx
  ui/components/item-article-image/index.tsx
  ui/components/item-article-image/style.module.css
  ui/components/item-article-layout/component.story.tsx
  ui/components/item-article-layout/component.test.tsx
  ui/components/item-article-layout/index.tsx
  ui/components/item-article-layout/style.module.css
  ui/components/item-article/component.story.tsx
  ui/components/item-article/component.test.tsx
  ui/components/item-article/index.tsx
  ui/components/item-article/style.module.css
  ui/components/package.json
Due: eslint --fix, prettier --write

feat(scraper): mini scraper for local experiments
  clients/scraper/index.ts
  clients/scraper/package.json
  clients/scraper/tsconfig.json
  common/mock-data/in-state/microById.json
  common/mock-data/in-state/podcastById.json
  common/mock-data/in-state/productById.json
  common/mock-data/in-state/shortsById.json
  common/mock-data/in-state/soundById.json
  common/mock-data/in-state/videosById.json
  common/utilities/package.json
  package.json
  turbo.json
Due: eslint --fix, prettier --write

fix(short): render as server component (implied)
  ui/components/error-not-found/component.story.tsx
  ui/components/item-short-layout/component.story.tsx
  ui/components/item-short/component.story.tsx
  ui/components/item-short/index.tsx
Due: eslint --fix, prettier --write

fix(sound): render as server component (implied)
  ui/components/item-short/component.test.tsx
  ui/components/item-sound-layout/component.story.tsx
  ui/components/item-sound-layout/component.test.tsx
  ui/components/item-sound/component.story.tsx
  ui/components/item-sound/component.test.tsx
  ui/components/item-sound/index.tsx
Due: eslint --fix, prettier --write

fix(video): render as server component (implied)
  ui/components/item-video-layout/component.story.tsx
  ui/components/item-video-layout/component.test.tsx
  ui/components/item-video/component.story.tsx
  ui/components/item-video/component.test.tsx
  ui/components/item-video/index.tsx
Due: eslint --fix, prettier --write

refactor(storybook): extract vars from stylesheets
  ui/components/_base/colors.story.tsx
Due: eslint --fix, prettier --write

test(ui): update ui tests
  ui/components/__snapshots__/item-article-layout.ts.snap
  ui/components/__snapshots__/item-sound-layout.ts.snap
  ui/components/__snapshots__/item-video.ts.snap
  ui/components/item-article-layout/component.test.tsx
  ui/components/item-short/component.test.tsx
  ui/components/item-sound/component.test.tsx
  ui/components/item-video-layout/index.tsx
  ui/components/item-video/component.test.tsx
Due: eslint --fix, prettier --write

fix(pocket): use item article for the time being
  clients/pocket/app/page.tsx
Due: eslint --fix, prettier --write

fix(layout): add carousel padding
  ui/styles/pocket/global.css
  ui/styles/pocket/layout.css
Due: none

Notes added by 'git notes add'
  a4b9e2036fae4309ae2ddb8ec57c3e70d8abafae
Due: none

chore(dependencies): patch updates
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/constants/package.json
  common/state/package.json
  common/types/package.json
  common/utilities/package.json
  config/eslint-config/package.json
  config/jest-config/package.json
  config/storybook-config/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
  ui/components/package.json
  ui/styles/package.json
Due: none

chore(dependencies): update husky to latest
  package.json
  pnpm-lock.yaml
Due: none

chore(dependencies): update types
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/state/package.json
  config/jest-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
  ui/components/package.json
Due: none

chore(depenencies): rover/graphql gen
  .gitignore
  clients/web/package.json
  common/types/package.json
  common/types/pocket/index.d.ts
  common/types/schema.graphql
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix, prettier --write

chore(dependencies): post-css
  clients/pocket/package.json
  clients/web/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/styles/package.json
Due: none

chore(dependencies): update build/test utilities
  clients/scraper/package.json
  common/state/package.json
  common/types/package.json
  common/utilities/package.json
  config/jest-config/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(dependencies): update production safe
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/state/package.json
  common/types/package.json
  config/jest-config/package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/icons/package.json
Due: none

refactor(sentry): remove sentry for now
  clients/web/next.config.js
  clients/web/sentry.client.config.js
  clients/web/sentry.edge.config.js
  clients/web/sentry.properties
  clients/web/sentry.server.config.js
  clients/web/src/common/api/mutations/addToShareableList.js
  clients/web/src/common/api/mutations/createAndAddToShareableList.js
  clients/web/src/common/api/mutations/createShareableList.js
  clients/web/src/common/api/mutations/createShareableListItem.js
  clients/web/src/common/api/mutations/deleteShareableList.js
  clients/web/src/common/api/mutations/deleteShareableListItem.js
  clients/web/src/common/api/mutations/updateShareableList.js
  clients/web/src/common/api/mutations/updateShareableListItem.js
  clients/web/src/common/api/mutations/updateShareableListItems.js
  clients/web/src/common/api/queries/get-collection-by-slug.js
  clients/web/src/common/api/queries/get-collections.js
  clients/web/src/common/api/queries/get-home-unified.js
  clients/web/src/common/api/queries/get-saved-items.js
  clients/web/src/common/api/queries/get-shareable-list.js
  clients/web/src/common/api/queries/get-shareable-lists-pilot-status.js
  clients/web/src/common/api/queries/get-shareable-lists-recent.js
  clients/web/src/common/api/queries/get-shareable-lists.js
  clients/web/src/common/api/queries/get-unleash-assignments.js
  clients/web/src/common/setup/snowplow.js
  clients/web/src/components/programmatic-ad/ad-slot.js
  clients/web/src/components/viewport-provider/viewport-provider.js
  clients/web/src/connectors/feature-flags/feature-flags.state.js
  clients/web/src/connectors/items/items-saved.state.js
  clients/web/src/connectors/snowplow/snowplow.state.js
  clients/web/src/containers/saves/saved-items/saved-items.state.js
  clients/web/src/pages/_error.js
  clients/web/src/pages/api/user.ts
  clients/web/src/pages/waypoint.js
Due: eslint --fix, prettier --write

chore(dependencies): update build tooling
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
Due: none

chore(dependencies): update pnpm
  .circleci/config.yml
  Dockerfile
  package.json
Due: none

chore(dependencies): update turbo
  clients/pocket/package.json
  clients/scraper/package.json
  clients/web/package.json
  common/state/package.json
  config/jest-config/package.json
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  package.json
  pnpm-lock.yaml
  ui/components/package.json
  ui/styles/package.json
Due: none

build(ci): move base flows to github actions
  .circleci/config.yml
  .circleci/scripts/update_bluegreen_service_via_task_def.sh
  .github/workflows/pull-request.yml
Due: none

chore(ci): adding in docker building
  .github/workflows/actions/build-client/action.yml
  .github/workflows/build-app.yml
  .github/workflows/deployment.yml
  .github/workflows/pull-request.yml
Due: none

fix(prod): adding in production roles
  .github/actions/build-client/action.yml
  .github/workflows/build-app.yml
  .github/workflows/pull-request.yml
Due: none

fix(ci): adding in roles and main ref
  .github/actions/build-client/action.yml
  .github/workflows/build-app.yml
  .github/workflows/deployment.yml
  .github/workflows/pull-request.yml
  .github/workflows/status-checks.yml
Due: none

fix(tf): upgrading terraform
  infrastructure/pocket/package.json
  infrastructure/web/package.json
  pnpm-lock.yaml
Due: none

fix(tf): upgrading terraform
  .github/workflows/build-app.yml
  .github/workflows/deployment.yml
Due: none

fix(ci): enabling releases
  .github/actions/build-client/action.yml
  .github/workflows/build-app.yml
  package.json
Due: none

Notes added by 'git notes add'
  7a8bb141db0dee25fccd6872155c9357d8a09c27
Due: none

fix(title): pull in title from the node as well
  clients/web/src/common/api/derivers/item.js
  clients/web/src/common/api/queries/get-saved-items.js
Due: prettier --write

Notes added by 'git notes add'
  d56526a51a092ebf73252ed192dd8ea211c45f3b
Due: none

feat(auth): authenticate user
  clients/pocket/app/layout.tsx
  clients/pocket/app/waypoint/route.tsx
  clients/pocket/next.config.mjs
  clients/pocket/package.json
  common/constants/index.ts
  common/state/package.json
  common/state/user-info/index.ts
  common/state/user-info/server.ts
  common/state/user-info/session.ts
  common/types/client/user-display.ts
  common/types/index.d.ts
  common/types/item.ts
  common/utilities/pocket-request/index.ts
  pnpm-lock.yaml
  ui/components/item-article/style.module.css
  ui/components/nav-top-account-profile/index.tsx
  ui/components/nav-top-account-profile/style.module.css
  ui/components/nav-top-account/index.tsx
  ui/components/nav-top/component.story.tsx
  ui/components/nav-top/index.tsx
Due: eslint --fix, prettier --write

feat(profile): add profile menu
  common/state/user-info/index.ts
  ui/components/item-actions-overflow/style.module.css
  ui/components/item-actions/style.module.css
  ui/components/nav-footer-theme/index.tsx
  ui/components/nav-top-account-profile/index.tsx
  ui/components/nav-top-account-profile/style.module.css
  ui/styles/pocket/buttons.css
  ui/styles/pocket/global.css
  ui/styles/pocket/z-index.css
Due: eslint --fix, prettier --write

feat(user): allow logout
  common/state/user-info/index.ts
  ui/components/nav-top-account-profile/index.tsx
  ui/components/nav-top-account/index.tsx
Due: eslint --fix, prettier --write

fix(popover): adjust dark mode surface
  ui/components/item-actions-overflow/style.module.css
  ui/components/item-actions-save/style.module.css
  ui/components/nav-top-account-profile/style.module.css
  ui/styles/pocket/global.css
  ui/styles/pocket/variables.css
Due: none

fix(profile menu): add settings switcher and nav
  clients/pocket/package.json
  ui/components/nav-footer-theme/index.tsx
  ui/components/nav-top-account-profile/index.tsx
  ui/components/nav-top-account-profile/style.module.css
  ui/components/setting-theme/component.story.tsx
  ui/components/setting-theme/component.test.tsx
  ui/components/setting-theme/index.tsx
  ui/components/setting-theme/style.module.css
  ui/icons/svgs/settings.svg
Due: eslint --fix, prettier --write

test(nav): update snapshots and env
  ui/components/__snapshots__/layout-main.ts.snap
  ui/components/__snapshots__/nav-footer-theme.ts.snap
  ui/components/__snapshots__/nav-footer.ts.snap
  ui/components/__snapshots__/nav-top-account-auth.ts.snap
  ui/components/__snapshots__/nav-top-account-profile.ts.snap
  ui/components/__snapshots__/nav-top-account.ts.snap
  ui/components/__snapshots__/nav-top.ts.snap
  ui/components/__snapshots__/setting-theme.ts.snap
  ui/components/jest.config.ts
  ui/components/nav-top-account/component.story.tsx
Due: eslint --fix, prettier --write

fix(terraform): removing chatbot notifications
  infrastructure/pocket/src/main.ts
  infrastructure/web/src/main.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.tsx)
  prettier --write: (((any of: *.ts) or (any of: *.tsx)) or (any of: *.md)) or (any of: *.js)
